<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Person</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container mt-4">
		<h1>List Person</h1>
		<a th:href="@{/new}" class="btn btn-primary">New</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Year</th>
					<th>Date</th>
					<th>Gender</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="person:${people}">
					<td th:text="${person.id}">${person.id}</td>
					<td th:text="${person.name}">${person.name}</td>
					<td th:text="${person.year}">${person.year}</td>
					<td th:text="${person.date}">${person.date}</td>
					<td th:text="${person.gender}">${person.gender}</td>
					<td>
						<a th:href="@{/update/}+${person.id}" class="btn btn-warning">Update</a>
						<a th:onClick="deletePerson([[${person.id}]])" class="btn btn-danger">Delete</a>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/functiones.js"></script>
</body>
</html>